<h2 class="text-center">
  Todo App
</h2>

<div class="col-md-8 offset-md-2">
  <div class="d-grid gap-2 d-md-flex">
    <form class="form-control" [formGroup]="todoForm" (ngSubmit)="submit()">
      <input type="text" class="form-control" formControlName="content">
      <button class="btn btn-primary me-md-2">Create</button>
    </form>
  </div>
  <div class="row mt-2" *ngFor="let todo of todos; index as i">
    <div class="col-10">
      <li class="list-group-item" [class.complete]="todo.complete" (click)="toggleTodo(i)">{{todo.content}}</li>
    </div>
    <div class="col-1">
      <a class="btn btn-success" [routerLink]="['edit', todo.id]">Edit</a>
    </div>
    <div class="col-1">
      <a class="btn btn-danger" [routerLink]="['delete', todo.id]">Delete</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
